.nav-button {
	margin: 8px;
}

#form-load-custom {
	margin: 0 auto;
}

.alert {
	margin-top: 10px;
}
#form-load-custom > button {
	margin: 10px 0px 10px 0px;
}
#welcome {
	text-align: center;
}

#modal-JSON-import .btn{
	margin: 15px auto;
}

#modal-export-prompt {
	text-align: center;
	margin: 0 auto;
}
#modal-export-prompt button {
	font-size: 16px;
}
/*#modal-export-prompt {
	border: 2px solid black;
}
#modal-export-prompt button {
	width: 50%;
	float: left;
}
#modal-export-prompt .btn-group {
	display: block;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#modal-export-prompt .modal-body {
	padding: 0;
}
*/
/*	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
*/